
.ipynb_checkpoints/


__pycache__/
*.pyc


*.log


.vscode/


tempCodeRunnerFile.py
tempCodeRunnerFile.ipynb
temp.ipynb

desktop.ini
Thumbs.db



DataForDecays/
0. Tempfolder/
0. Course Notebooks/
0. P solver codes/